/*************************BODY*****************************/
body{
      background: #fbfaf8 url("image/background.jpg");
      background-repeat:repeat-x;
      
    }


/**********************Starting of Maintable************************/
#maintable{
            margin:0 auto;
            width=989px;
          }
#maintable .main{
                 width:989px;
                }
#maintable .main .child1{
                          width=989px;
                        }
#maintable .main .child1 .child1col{ 
 			             width:989px; 
                                     height:211px;
                                   }
#maintable .main .child2{
                          width:989px;
                        }
#maintable .main .child2 .child2col{ 
                                     padding-top:20px;
                                     padding-left:40px;
                                     font-family:Olivia Brush;
                                     font-size:40px;
                                     color:#49341b;
                                   }
#maintable .main .child2 .child2col .adph{
                                           font-family:Arial;
                                           font-size:20px;
                                           color:#49341b;
                                          }
#maintable .main .child2 .child2col2{
                                       width:231px;
                                     }
#maintable .main .child2 .search{
                                  color:#7f4600;
				 }							
#maintable .main .child3{ 
                           width:989px; 
                           height:56px;
                         }
#maintable .main .child4{ 
                           padding-top:15px;
                           width:989px; 
                         }
#maintable .main .child5{
                         width:989px;  
                         height:528px;
                         }
#maintable .main .child6{
                         padding:0px;
                         width:989px;  
                         }
#maintable .main .child4 .belowmenu{  
                                      padding-top:120px;
 				    }
#maintable .main .childtable5{
              width:989px;
              height:510px;
             }
#maintable .main .child7 a{
          background:url(product2.png);
        }
#maintable .main .child8{
        font-family:verdana;
        color:#452c05;
        }
#maintable .main .child9{
         width:750px;
        }
#maintable .main .child9 .lower{ 
                padding-bottom:5px;
                margin:0px;
               }
/*******************only class*********************/
H2{ 
    color:#856034;
    font:14px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
   } 
.search{
         color=#856034;
           font: 14px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet nUnicode MS","Lucida Grande", Verdana, Helvetica, sans-serif; 
       }
.products{ 
           text-decoration:underline;
           color=#856034;
           font: 14px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet nUnicode MS","Lucida Grande", Verdana, Helvetica, sans-serif; 
         }


.accept{
         background-color:#775e36;
         color:#ffffff;
         margin-left:80px;
         padding:8px 12px;
         font:16px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
       }
.copyright{
         padding-left:400px;
         color:#7f4600;
         font-size:15px;
       }
.copyrighta{
         padding-left:370px;
         color:#7f4600;
         font:15px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
       }
.alignbutton{
              padding-left:100px;
            }
.upper{ 
        margin-left:100px;
      }
.order a{
            color:#7f4600;
            text-decoration:none;
         }
 .order a:hover{
                text-decoration:underline;
                
              }

/*************************Anchor tag******************/
#navbar {
	list-style-type:none;
        float:left;
        width:989px;
        margin:0;
        padding: 0;
        font:14px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
         
 }
	
#navbar li {
	display:inline;
        padding-left:0px;
        margin-left:20px;
        float:left;}
	
#navbar li a {
	display: block; 
        text-decoration:none;
             margin:0;
             padding:5px;
	     color:#7f4600;
           }
	
#navbar li ul {
	display: none; 
	width: 10em;
	background-color:#7e5617;
        }
	
#navbar li:hover ul {
        margin:0px;
        padding:0px;
	display: block;
	position: absolute;
        background-repeat:no-repeat;
        color:#ffffff;
         }
	
#navbar li:hover li {
                      margin:0px;
	              float: none; 
                    }
	
#navbar li:hover li a {  
                         background:#7e5617;
	                 border-bottom: 1px solid #fff;
	                 color: #ccc;
                         font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet nUnicode MS","Lucida Grande", Verdana, Helvetica, sans-serif; 
                     }
#navbar li:hover li a:hover{
                            background-color: #856034; 
                           } 
	
#navbar li a:hover {
	            color: #ccc;  
                    text-decoration:underline;
                    }

.sortmenu{
           list-style-type:none;
           float:left;
           margin-left:350px;
           
          }
      
.sortmenu li{ 
              display:inline;
         }
.sortmenu a{
             color:#7f4600;
             text-decoration:none;
             font-family:"Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	     font-size:8px;  
	               
}
.sortmenu a:hover{
                   color:#000000;  
                 }
.news a{
         font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
         color:#7e5617;
         text-decoration:none;
        }

.news a:hover{
               text-decoration:underline;

             }      
.video a{
         font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
         color:#7e5617;
         text-decoration:none;
        }

.video a:hover{
               text-decoration:underline;

             }     
#menu {
	background: #81591b;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 12em;
       
}
#menu li {
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	display:block;
}
#menu a {
	background:#7e5617;
	border-bottom: 1px solid #ffffff;
	color: #ccc;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
#menu a:hover {
	background: #856034 ;
	color: #fff;
	padding-bottom: 8px;
}

.orderlink a{
             color:#7f4600;  
             text-decoration:none;
         }
.orderlink a:hover{
                text-decoration:underline;
                
              }

.textcolor{  font:14px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
             color:#7f4600;
          } 
.margin{
         padding-left:320px;
      }                
.mail{
       padding-left:50px;
       color:#7f4600;
      }
.mail a{
            text-decoration:none;
            color:red
           }
.mail a:hover{
                  text-decoration:underline;
                 }
.read{
       margin-left:300px;
       color:#7f4600;
       font:14px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
       
     }
.read a{
         color:red;
         text-decoration:none;
       }
.read a:hover{
               color:black;
               text-decoration:underline;
}
                    }

.craftbg{
          width:165px; height:138px;
          background:url(image/bodybg.png) no-repeat;
          margin-left:10px;
          padding-left:25px;
          }
.readmore{
           font-family:verdana;
           font-size:10;
           color:#452c05;
           padding-left:558px;
         }
.readmore a{
             color:#452c05;
             text-decoration:none;
           }
.readmore a:hover{
             color:#452c05;
             text-decoration:none;
             font-size:12px;
           }
.latest{
         padding:left:300px;
      }
.form{ 
       color:#ccc;
       width:12em;
       margin:2px;
       padding-left:8px;
           }
.forgot{
         color:#ccc;
         font:16px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
       }

.forgot a{
           color:#ccc;
           text-decoration:none; 
           font:16px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
         }
.forgot a:hover{
                 text-decoration:underline;
               }
/********************************IFRAME*****************************/
 .iframee{
                      width:799px;
                      height:510px;
                     } 
 .iframme{
                      width:799px;
                      height:400


